* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/images.jpg");
    background-size: cover;
}

#operate {
    margin: 20px;
}

#app {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-size: larger;
}

#app #userlist, #app table {
    width: 100%;
}
#Modal, #mdModal {
    width: 100%;
}

#addInput,#mdInput{
    width: 60%;
}

#addInput>.input-group,#mdInput>.input-group{
    margin-top: 20px;
}

#find,#add{
    width: 80px;
    margin: 10px;
}

.tag{
    color: darkred;
    font-size: small;
}